<div class="album py-5 bg-light">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col">
        <div class="card mb-4 shadow-sm">
          <div class="image-container">
            <img class="card-image" width="100%" height="auto" src="<%= @drink.image %>"/><title><%= @drink.name %></title><rect width="100%" height="100%" fill="<%= @drink.image %>"></rect>
            <div class="centered"><h4><%= @drink.name %></h4></div>
          </div>
        </div>
    </div>
    <div class="col">
      <div class="card mb-4 shadow-sm">
        <div class="card-body">
          <section>
            <h4 class="card-text">Instructions:</h4>
            <table class="table table-bordered">
              <tbody>
                <thead>
                  <tr>
                    <th scope="col">Ingredient</th>
                    <th scope="col">Measurement</th>
                  </tr>
                </thead>
                <% @drink.drink_measurements.each do |ingredient, measurement| %>
                  <% if ingredient != nil %>
                      <tr>
                        <td><%= ingredient %></td>
                        <td><%= measurement %></td>
                      </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
          </section>

          <section>
            <h4 class="card-text">Instructions:</h4>
            <p class="card-text"><%= @drink.instructions %></p>
          </section>

          <%= link_to "Email this recipe", "/notifications/#{@drink.name}/new" %>
        </div>
      </div>
  </div>
  </div>
</div>
