<nav class="mt-5" style="background-color: #e3f2fd;">
  <nav class="navbar fixed-top navbar-light ml-auto" style="background-color: #e3f2fd;">
    <% if current_user %>
      Logged in as <%= current_user.first_name%> <%= current_user.last_name %>
    <% end %>
    <section id="navbar">
        <ul class="nav nav-pills nav-fill">
          <% if current_user %>
          <li class="nav-item">
            <%= link_to "Dashboard", '/dashboard', :class => "nav-link"%>
          </li>
          <li class="nav-item">
            <%= link_to "Ingredients", '/ingredients', :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Find Recipes", '/results', :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Cabinet", '/cabinet', :class => "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Log out", logout_path, :class => "nav-link" %>
          </li>
        </ul>
      <% else %>
        <%= link_to 'Log in with Google', user_login_path %>
      <% end %>
    </section>
  </nav>
</nav>
