<h1>All ingredients</h1>

<%= form_tag '/cabinet/update', method: :patch do %>
<div class="container">
  <div class="row" id="submit-button-top">
    <%= submit_tag 'Update Ingredients', :class => "btn btn-primary btn-lg" %>
  </div>

  <% @ingredients.each_slice(3).to_a.each do |three_ingredients| %>
    <div class="row">
      <% three_ingredients.each do |ingredient| %>
      <div class="col-sm">
        <label id= "ingredient-<%= ingredient.id %>"class="btn btn-secondary toggle">
          <div id="button-text">
          <%= ingredient.name %>
          </div>
          <%= check_box_tag 'ingredients[]', ingredient.id, current_ingredients_id.include?(ingredient.id.to_s), :class => 'btn btn-secondary toggle' %>
        </label>
      </div>
      <% end %>
    </div>
  <% end %>
</div>
<% end %>
