<!DOCTYPE html>
<html>
  <head>
    <title>DrinkeeFrontend</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <section class='navbar'>
    <%= render 'partials/nav' %>
  </section>

  <body>
    <%= yield %>
  </body>
</html>
